
.user-section img {
    width: 300px;
    height: 350px;
}
.user-section{
    border-bottom: 1px solid gray;
    padding: 30px;
}
.btn {
    margin-bottom: 40px;
    background-color: green;
    color: #000;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.main-secton {
    display: flex;
}